.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin: 7px 10px 0px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  margin-top: 10px;
  background-color: #fff;
}

.navigation-bar:hover {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  padding: 80px 10px;
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 #000;
  color: #2e80b6;
  font-size: 45px;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  width: 100%;
  height: 10%;
  margin: auto;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0px;
  border-bottom: 4px solid #69b9ff;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left top, left bottom, from(#2e9dff), to(rgba(46, 157, 255, 0.22)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #2e9dff, rgba(46, 157, 255, 0.22));
  color: #2788db;
  text-align: center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.hero-heading {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 36px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  margin-top: -55px;
  margin-left: 12px;
  border: 1px solid transparent;
  color: #2e80b6;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  margin-bottom: 0px;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #192024;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 3px;
  text-transform: none;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}

.section-title-group {
  margin-bottom: 60px;
  border-radius: 5px;
  background-color: transparent;
  color: #192024;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  margin-top: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 12px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.block-quote {
  margin-top: 10px;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #000 #000 #000 #bbb8b8;
  font-size: 14px;
  text-align: center;
  white-space: normal;
}

.text-span {
  margin-top: 0px;
  font-size: 20px;
}

.text-span-2 {
  font-size: 22px;
}

.text-span-3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  line-height: 26px;
  text-transform: uppercase;
}

.body {
  font-size: 30px;
  line-height: 30px;
}

.bold-text {
  color: #192024;
}

.container {
  background-color: #2e9dff;
  text-align: left;
}

.heading {
  margin-bottom: 0px;
  margin-left: 10px;
  color: #f0f0f0;
}

.container-2 {
  padding: 23px 0px;
  border-right: 1px solid #2e9dff;
  border-radius: 5px;
  background-color: #2e80b6;
  text-align: left;
}

.image {
  margin-top: -64px;
  margin-bottom: 5px;
  padding-left: 25px;
}

.heading-2 {
  padding-bottom: 0px;
  text-align: center;
}

.heading-3 {
  margin-top: -30px;
  margin-bottom: 12px;
  text-align: center;
}

.image-2 {
  margin-top: 12px;
}

.image-3 {
  max-width: none;
  margin-bottom: 19px;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-2 {
  margin-bottom: 0px;
}

.div-block {
  margin-top: 16px;
  margin-bottom: 0px;
}

.paragraph {
  padding-top: 50px;
  text-align: right;
}

.paragraph-2 {
  font-size: 45px;
}

.bold-text-2 {
  font-size: 45px;
}

.paragraph-3 {
  font-size: 26px;
}

.paragraph-4 {
  padding-right: 300px;
  font-size: 26px;
}

.bold-text-3 {
  color: #2e80b6;
}

.text-field {
  margin-bottom: 10px;
}

.grid {
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2";
  background-color: #f0f0f0;
}

.paragraph-5 {
  margin-top: 30px;
}

.list-item {
  margin-top: 32px;
}

.body-2 {
  background-color: transparent;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-2 {
  margin-top: 50px;
  grid-template-areas: "Area";
}

.heading-5 {
  font-size: 26px;
}

.list {
  padding-top: 45px;
}

.heading-6 {
  font-size: 26px;
}

.container-3 {
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  border: 1px solid #2e80b6;
  border-radius: 5px;
  background-color: #2e80b6;
}

.grid-3 {
  grid-template-areas: "Area Area-2";
}

.heading-7 {
  text-align: left;
}

.heading-8 {
  font-size: 26px;
  text-align: left;
}

.list-item-2 {
  font-size: 14px;
  text-align: left;
}

.list-item-3 {
  font-size: 14px;
  text-align: left;
}

.list-item-4 {
  font-size: 20px;
  text-align: left;
}

.list-item-5 {
  font-size: 14px;
  text-align: left;
}

.list-item-6 {
  font-size: 14px;
  text-align: left;
}

.list-2 {
  margin-top: 40px;
}

.text-block {
  margin-top: 20px;
  color: #192024;
  font-size: 16px;
  font-style: italic;
  text-align: left;
}

.list-3 {
  margin-top: 15px;
  margin-left: 0px;
  padding-left: 0px;
  color: #192024;
  font-size: 14px;
  text-align: right;
}

.list-item-7 {
  padding-left: 17px;
  text-align: left;
}

.container-4 {
  text-align: right;
}

.list-item-8 {
  font-size: 14px;
  text-align: left;
}

.list-item-9 {
  font-size: 14px;
  text-align: left;
}

.list-item-10 {
  font-size: 14px;
  text-align: left;
}

.heading-9 {
  font-size: 26px;
  text-align: left;
}

.list-item-11 {
  font-size: 14px;
  text-align: left;
}

.list-item-12 {
  margin-top: -1px;
  font-size: 14px;
  text-align: left;
}

.list-item-13 {
  font-size: 14px;
  text-align: left;
}

.list-4 {
  margin-top: 37px;
}

.paragraph-6 {
  margin-top: -28px;
  text-align: left;
}

.bold-text-4 {
  margin-left: -16px;
  padding-left: 0px;
}

.image-4 {
  margin-top: 160px;
}

.heading-10 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-shadow: 1px 1px 6px #000;
}

.bold-text-5 {
  font-size: 50px;
}

.paragraph-7 {
  padding-top: 87px;
  padding-bottom: 0px;
}

.field-label {
  font-size: 14px;
  text-align: left;
}

.field-label-2 {
  float: left;
  clear: left;
  font-size: 14px;
  text-align: left;
}

.text-field-2 {
  width: 300px;
  float: left;
  font-size: 14px;
}

.text-field-3 {
  width: 300px;
  float: left;
  clear: both;
  font-size: 14px;
}

.submit-button {
  position: relative;
  float: left;
  clear: both;
  font-size: 14px;
  text-align: left;
}

.form-block {
  margin-right: auto;
  margin-left: auto;
}

.container-5 {
  clear: both;
}

.image-5 {
  position: static;
  float: none;
  clear: none;
  font-size: 70px;
  line-height: 45px;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #3b99d9;
  }

  .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .grid-image {
    width: 35%;
  }
}

#w-node-_5f7759d1-e449-64d5-338d-159c89dde6d3-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Area-2;
}

.grid-3>#w-node-_5f7759d1-e449-64d5-338d-159c89dde6d3-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#w-node-_8bcd3f01-a8ef-b28a-f236-4b7e03b96325-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2>#w-node-_8bcd3f01-a8ef-b28a-f236-4b7e03b96325-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-3>#w-node-_8bcd3f01-a8ef-b28a-f236-4b7e03b96325-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_18a9f043-b2c9-e4c5-61bd-586a587dff02-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Area-2;
}

.grid-3>#w-node-_18a9f043-b2c9-e4c5-61bd-586a587dff02-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#w-node-ec570e2c-9fa6-d589-0e36-fcc029c389d8-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2>#w-node-ec570e2c-9fa6-d589-0e36-fcc029c389d8-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-3>#w-node-ec570e2c-9fa6-d589-0e36-fcc029c389d8-600af8c5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

